<div class="form-section">
    <h3>Import</h3>
    <%= form_with url: import_opml_path, multipart: true, local: false, id: "importForm" do |form| %>
        <%= form.file_field :file, required: true %>
        <%= form.submit "Import OPML & Fetch Feeds", id: "submitBtn", class: "submit-btn" %>
    <% end %>
</div>