* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9pt;
    background-color: #000;
    color: #fff;
}

a, a:visited, a:active, a:hover {
    color: #fff;
    text-decoration: none;
}

.page_container {
    max-width: 800px;
    margin: 5px auto;
}

.feed_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  max-width: 800px;
  margin: 2px auto;
}

.feed_item_header {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 1rem;
  overflow: hidden;
  width: 100%;
}


.feed_item_name {  
  flex: 0 0 100px; /* don't grow, don't shrink, fixed 100px */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.feed_item_starred {  
  flex: 0 0 1rem; /* don't grow, don't shrink, fixed 100px */
  overflow: hidden;
  text-overflow: none;
  white-space: nowrap;
  text-align: center;
}
.feed_item_read {
  flex: 0 0 1rem; /* don't grow, don't shrink, fixed 100px */
  overflow: hidden;
  text-overflow: none;
  white-space: nowrap;
  text-align: center;
}
.feed_item_title {
  flex: 1 1 auto; /* grow, shrink, fill available space */
}
.feed_item_published {
  flex: 0 0 7rem; /* don't grow, don't shrink, fixed 100px */
  overflow: hidden;
  text-overflow: none;
  white-space: nowrap;
  text-align: right;

}
.feed_item_url {
  display: none;
}
.feed_item_body {
  display: none;
}
.feed_item_description {
  display: none;
}