<div id="<%= dom_id category %>">

  <div class="category_name" style="background-color: <%= category.color %> ">
    <div class="category_name_text">
      <%= category.name %>
    </div>
    <div class="category_name_color">
      <%= category.color %>
    </div>
  </div>
</div>
