<div id="<%= dom_id filter %>">
  <p>
    <strong>Term:</strong>
    <%= filter.term %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= filter.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= filter.description %>
  </p>

</div>
